<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Modpack_Actuel_Force.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <Modpack_Actuel_Force.My.MySettings>
      <setting name="path_install" serializeAs="String">
        <value>C:\Games\World_of_Tanks</value>
      </setting>
      <setting name="version_modpack" serializeAs="String">
        <value />
      </setting>
      <setting name="version_jeu" serializeAs="String">
        <value />
      </setting>
      <setting name="lien_mods" serializeAs="String">
        <value>http://www.actuel-force.ovh/jeux/wot/modpack/mods/</value>
      </setting>
      <setting name="lien_site" serializeAs="String">
        <value>http://www.actuel-force.ovh</value>
      </setting>
      <setting name="lien_forum" serializeAs="String">
        <value>http://www.actuel-force.ovh</value>
      </setting>
      <setting name="lien_ts3" serializeAs="String">
        <value>actuel-force.ovh:9987</value>
      </setting>
      <setting name="lien_version_modpack" serializeAs="String">
        <value>http://www.actuel-force.ovh/jeux/wot/modpack/version_modpack.txt</value>
      </setting>
      <setting name="lien_version_mods" serializeAs="String">
        <value>http://www.actuel-force.ovh/jeux/wot/modpack/mods/version_mods.txt</value>
      </setting>
      <setting name="lien_liste_mods" serializeAs="String">
        <value>http://www.actuel-force.ovh/jeux/wot/modpack/mods/liste_mods.xml</value>
      </setting>
      <setting name="nom_checkbox" serializeAs="String">
        <value />
      </setting>
    </Modpack_Actuel_Force.My.MySettings>
  </userSettings>
</configuration>
